/*
Generelle regler for font og farver
Body 
    -Header
    -Billed
    -Content
    -Footer
*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: "Roboto-reg";
    src: url(Opgave/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(Opgave/Roboto/Roboto-Bold.ttf);
}


h2 {
    font-family: 'Roboto-Bold';
    color: var(--tekst-color);
    font-size: 35px;

}

h3{
    font-family: 'Roboto-reg';
    color: var(--tekst-color);
    font-size: 25px;
}

p{
    font-family: 'Roboto-reg';
    color: var(--tekst-color);
    font-size: 18px;
}

header{
    background-color: var(--lysegrøn-color);
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 2%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--tekst-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Roterer første linje */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fjerner midterste linje */
  .change .bar2 {opacity: 0;}
  
  /* Roterer sidste linje */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
.icon{
    width: 100%;
}

.box1{
    background-color: var(--lysegrøn-color);
}

.box1 h2, h3{
    color:white;
    text-align: center;
    padding: 0.8%;
}

.grid_2-1{
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: var(--lys-color);
    padding: 5%;
}

.container1{
    margin-left: 15%;
    background-color: var(--mørkegrøn-color);
    padding: 10%;
    border-radius: 50px;
}

#box2{
    text-align: center;
    margin-bottom: 55px;

}

.box3{
    margin: 8%;
    text-align: center;
}

.overskrift{
    margin: 5%;
}

.undertekst{
   margin-bottom: 10%;
}


/* Input felter med tekst */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

/*e-mail knap*/
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Tilmeld knap */
  input[type=submit] {
    background-color:var(--lysegrøn-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  
  /* baggrund på formular */
  .container {
    border-radius: 5px;
    padding: 20px;
    margin-left: 95%;
  }

  footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: var(--mørkegrøn-color);
    color: var(--lys-color);
    padding: 5%;
    font-size: 20px;
  }