
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h2, h3 {
    font-family: 'Roboto-Bold';
    color: var(--tekst-color);
    font-size: 30px;

}

p{
    font-family: 'Roboto-reg';
    color: var(--tekst-color);
    font-size: 18px;
}

.icon{
    width: 100%;
}

.box1{
    background-color: var(--lysegrøn-color);
}

.box1 h2, h3{
    color:white;
    text-align: center;
    margin: 15px;
}



@font-face {
    font-family: "Roboto-reg";
    src: url(Opgave/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(Opgave/Roboto/Roboto-Bold.ttf);
}

